/* CSS Document */
#centeringDiv{
position: absolute;
left: 50%;
margin-left: -400px;
top: 50%;
margin-top: -340px;
background-color: blue;
width: 800px;
height: 680px;
}

#topBar{
width: 800px;
height: 150px;
background-color: orange;
}

#logo{
width: 800px;
height: 75px;
background-color: red;
}

#navigationMenu{
width:800px;
height: 75px;
background-color: violet;
}

.navigationLink{
	background-color: blue;
	width: 200px;
	height: 35px;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

.navigationLink p{
	margin-top: 5px;
}

#navigationMenu a:hover{
	background-color: green;
	color: red;
}

#navigationMenu a:active{
	background-color: green;
	color: green;
}

#contentBar{
width: 800px;
height: 530px;
background-color: yellow;
}