/* CSS Document */
body{
background-color: #ffffcc;
}

#centeringDiv {
  margin: auto;
  width: 800px;
  height: 680px;
  background-color: #ffffcc;
  position: relative;
}

#topBar{
width: 800px;
height: 150px;
background-color: #ffffcc;
}      

#logo{
width: 796px;
height: 71px;
border: 2px solid black;
}

#logo img{
width:796px;
height: 71px;
}

#navigationMenu{
width:800px;
height: 75px;
}

.navigationLink{
	background-color: blue;
  width: 198px;
	height: 34px;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
  border-top: 0px;
}

.navigationLink p{
	margin-top: 5px;
}

#navigationMenu a{
	background-color: blue;
	color: black;
}

#navigationMenu a:hover{
	background-color: cyan;
	color: red;
}

#navigationMenu a:active{
	background-color: green;
	color: green;
}

#contentBar{
width: 796px;
height: 526px;
background-color: #ccffff;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
border: 2px solid black;
overflow: auto;
}
      
#contentBar p.content {
margin-left: 15px; 
margin-right: 15px;
}
